{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<!--[if lt IE 7]><html lang="es" class="lt-ie10 lt-ie9 lt-ie8 lt-ie7 "><![endif]-->
<!--[if IE 7]><html lang="es" class="lt-ie10 lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="es" class="lt-ie10 lt-ie9 "> <![endif]-->
<!--[if IE 9]><html lang="es" class="lt-ie10 "> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="es" class=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="django-doberman">
    <meta name="author" content="Nicolas Mendoza">
    <title>django doberman</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">


    <!-- ESTILOS EXTRA -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% block stylesheets %}{% endblock %}

</head>
<body>

    <header class="navbar navbar-primary navbar-top">
        <div class="container">
            <a class="navbar-brand bac-header" href="https://github.com/nicchub/django-doberman">django-doberman 0.2.0</a>
        </div>
    </header>

    {% block afternav %}{% endblock %}

    <!-- CONTENIDO -->
    <main class="main-container" role="main">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </main>
    <!-- FIN DE CONTENIDO -->

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    {% block scripts %}{% endblock %}

</body>
</html>